body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

nav a {
  color: #ccc;
  margin: 10px;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 45px;
  background: linear-gradient(to right, #6366f1, #a855f7);
  -webkit-background-clip: text;
  color: transparent;
}

.glass {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  padding: 20px;
  border-radius: 20px;
  background: #111827;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.glow:hover {
  box-shadow: 0 0 20px #6366f1;
}

.gallery {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery:hover {
  transform: scale(1.05);
}

#popup {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#popup img {
  max-width: 80%;
  border-radius: 10px;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
}

.social a {
  font-size: 25px;
  margin: 10px;
  color: white;
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}
